.hw15{
    position: relative;
}

.tech {
    width: 50vw;
}

.developer {

}

.content{
    opacity: 0.3;
}

.techHeader {
    width: 50vw;
}

.developerHeader {
    width: 226px;
}

.row {
    display: flex;
    width: 504px;
    padding: 12px 0 12px 10px;
    border-bottom: thin solid #E5E5E5;
}
.row:last-child{
    border-bottom: 0
}

.rowHeader {
    display: flex;
    margin-top:39px;
    width: 606px;
    height: 36px;
    background-color: #E5E5E5;
    padding: 7px 0 12px 10px
}

.loading {
    position: absolute;
    top:50%;
    left:25%;
}
